<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bottom_styles.css">
</head>
<body>

<div id="bottom_div">
    <td align="right">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>© 2017 E-learning, Inc.</td>
                <td>Co tam jeszcze można włożyć do stopki</td>
                <td>
                    <a href="https://github.com/">
                        <img src="../static/images/github-logo.png" class="icons" alt="Github"/>
                        <img src="../static/images/github-caption.png" class="icons"
                             alt="Github"/>
                    </a>
                </td>
                <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
            </tr>
        </table>
    </td>
</div>
</body>
</html>