<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../static/css/menu_styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

</head>
<body>

<div id="menu_wrapper">

    <ul class="menu">
        <li class="main_page"><a href="#">Main page </a>
        </li>
        <li class="pol_eng"><a href="#">Polish->English Dictionary </a>
        </li>
        <li class="eng_pol"><a href="#">English->Polish Dictionary</a>
        </li>
        <li class="elearning"><a href="#">E-learning</a>
            <ul>
                <li class="main_learning"><a href="#">E-learning section</a></li>
                <li class="course"><a href="#">Course</a></li>
                <li class="quiz"><a href="#">Quiz</a></li>
            </ul>
        </li>
        <li class="cosTam"><a href="#">Cos moze jeszcze </a>
        </li>
    </ul>

</div>

<script type="text/javascript">
    $(function () {

        var menu_ul = $('.menu > li > ul'),
            menu_a = $('.menu > li > a');

        menu_ul.hide();

        menu_a.click(function (e) {
            e.preventDefault();
            if (!$(this).hasClass('active')) {
                menu_a.removeClass('active');
                menu_ul.filter(':visible').slideUp('normal');
                $(this).addClass('active').next().stop(true, true).slideDown('normal');
            } else {
                $(this).removeClass('active');
                $(this).next().stop(true, true).slideUp('normal');
            }
        });

    });
</script>

</body>
</html>