{% extends "base.html" %}

{% block content %}

    <form action="/quiz_main_page/" method="post">
  {% csrf_token %}
<!-- Small boxes (Stat box) -->
        <br> &nbsp;
          <div class="row">
            <div class="col-sm-4 " style="width: 33.3333%;">
                <div class="panel bg-aqua" >
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-question-circle-o fa-5x"></i>
                            </div>
                            <a href="/charts/" style="color:white;">
                            <div class="col-xs-9 text-right">
                                <div class="huge">26</div>
                                <div>Compleated quizzes</div>
                            </div>
                              </a>
                        </div>
                    </div>
                    <a href="/Quiz1/">
                        <div class="panel-footer ">
                            <span class="pull-left ">Start 1st quiz</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right "></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

                          <div class="col-sm-4" style="width: 33.3333%;">
                <div class="panel bg-green" >
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-question-circle-o fa-5x"></i>
                            </div>
                            <a href="/charts/" style="color:white;">
                            <div class="col-xs-9 text-right">
                                <div class="huge">26</div>
                                <div>Compleated quizzes</div>
                            </div>
                              </a>
                        </div>
                    </div>
                    <a href="/Quiz2/">
                        <div class="panel-footer ">
                            <span class="pull-left ">Start 2nd quiz</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right "></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

                                   <div class="col-sm-4" style="width: 33.3333%;">
                <div class="panel bg-yellow" >
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-question-circle-o fa-5x"></i>
                            </div>
                            <a href="/charts/" style="color:white;">
                            <div class="col-xs-9 text-right">
                                <div class="huge">26</div>
                                <div>Compleated quizzes</div>
                            </div>
                              </a>
                        </div>
                    </div>
                    <a href="/Quiz3/">
                        <div class="panel-footer ">
                            <span class="pull-left ">Start 3rd quiz</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right "></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

</div>
</form>
{% endblock %}
