{% extends "index.html" %}

{% block content %}
{% if message %}
<li><font color="brown">
    {{message}}
</font></li>
{% endif %}
<li><p><font color="brown">Do you know other translation of this word?</font></p></li>
<li>

    <form action="{% url 'send_email' %}" method="post">
        <!--<form action="{% url 'send_email' %}" method="post">-->
        <input type="text" name="message">
        <input type="text" name="from_email" value="from_email">


        {% csrf_token %}
        <input id="button_mail" type="submit" class="btn" value="send suggestion" name="mybtn">
        <!--<input formaction="{% url 'send_email' %}" formmethod="post" id="button_mail" type="submit" class="btn" value="send suggestion" name="mybtn">-->
        <!--</form>-->
    </form>
</li>
{% endblock %}
