<!DOCTYPE html>
<html lang="en">
<head>

    <title>
        {% block title %} E-learning {% endblock %}
    </title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../static/css/styles.css">

</head>
<body>

<div id="top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">E-learning</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Profile</a>
                </li>
                <li><a href="#">Check progress</a>
                </li>
                <li><a href="#">History</a>
                </li>
                <li><a href="#">Jakies cos</a>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Log out</a>
                </li>
            </ul>
        </li>
    </ul>
</div>


<div id="bottom">
    <td align="right">
        <table border="0" cellpadding="0" cellspacing="10">
            <tr>
                <td>© 2017 E-learning, Inc.</td>
                <td>Co tam jeszcze można włożyć do stopki              .</td>
                <td>
                    <a href="https://github.com/damianswist/pite_project">
                        <img src="../static/images/github-logo_big.png" class="icons" alt="Github"/>
                        <img src="../static/images/github-caption_big.png" class="icons"
                             alt="Github"/>
                    </a>
                </td>
                <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
            </tr>
        </table>
    </td>
</div>


<div id="menu_wrapper">

    <ul class="menu">
        <li class="main_page"><a href="#">Main page </a>
        </li>
        <li class="pol_eng"><a href="#">Polish->English Dictionary </a>
        </li>
        <li class="eng_pol"><a href="#">English->Polish Dictionary</a>
        </li>
        <li class="elearning"><a href="#">E-learning</a>
            <ul>
                <li class="main_learning"><a href="#">E-learning section</a></li>
                <li class="course"><a href="#">Course</a></li>
                <li class="quiz"><a href="#">Quiz</a></li>
            </ul>
        </li>
        <li class="cosTam"><a href="#">Cos moze jeszcze </a>
        </li>
    </ul>

</div>

<div id="main">
    {% block content %}
	<title>polish-english</title>
    	<form action="/search/" method="get">
	<input type="text" name="q">
	<input type="submit" value="English">

	</form>
    {% endblock %}

</div>

<script type="text/javascript">
    $(function () {

        var menu_ul = $('.menu > li > ul'),
            menu_a = $('.menu > li > a');

        menu_ul.hide();

        menu_a.click(function (e) {
            e.preventDefault();
            if (!$(this).hasClass('active')) {
                menu_a.removeClass('active');
                menu_ul.filter(':visible').slideUp('normal');
                $(this).addClass('active').next().stop(true, true).slideDown('normal');
            } else {
                $(this).removeClass('active');
                $(this).next().stop(true, true).slideUp('normal');
            }
        });

    });

</script>

</body>
</html>
