body {
    font-size: 100%;
    background: #596167;
    width: auto;
    height: 50px;
    position: absolute;
}

.icons {
    display: inline-block;
    width: auto;
    height: 40px;
}

td {
    color: #a7b0b6;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
}

table {
  border-spacing: 10px;
}